/*
 * Déclaration de mon css ici pour le composant layout
 * Fichier.module.css pour avoir un factionnement du css comme pour les pages pour charger le minimum de css
 */
 .container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}